
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 20px;
    font-family: Inter, NeutralFace;
    color:black;
    background-color: #ffffff;
  }


  .topnav {
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid black;

   
  
 }

.topnav a{
   
    padding: 40px;
    color:rgb(61, 22, 22);
   text-decoration: none; 
   
   float:right;

  }

  .topnav a:hover{
    color:black;
    
  }

  img{
    width:70%;
  }

  .hello{
    background-color:beige;
    padding:50px;
    display: flex;
    flex-direction: row;
  }

  .hello-info{
    text-align: center;
    padding:50px;
 
    
  }

  .hello-info h1{
    font-size: 50px;
   
    text-align: center;
    color:rgb(61, 22, 22);
  }

  .hello-info p{
    padding:30px;
  }

  .hello-info a{
    padding: 10px;;
    text-decoration: none;
    color:rgb(61, 22, 22);
    border-style: solid;
    border-radius: 20px;
   
   
  }


  .hello-info a:hover{
    color:black;
  }

  .map{
    text-align: center;
    background-color: #5C080D;
    padding:50px;
    color:white;s
  }

  .map h2{
    font-size: 50px;
    padding:20px;
  }

  .map h1{
    font-size: 20px;
    padding:20px;
  }

  .map a{
    padding: 10px;;
    text-decoration: none;
    color:white;
    border-style: solid;
    border-radius: 20px;
  }

  .map a:hover{
    color:black;
  }

  .map img{
    width:50%;
    padding:20px;
  }

  .purpose h2{
    font-size: 50px;
   
  }

  .purpose{
    text-align: center;
    height:500px;
   
    padding:50px;
  }

  .main{
    padding:20px;
    display: flex;
    flex-direction: row;
  }

  .main-each{
    width:33%;
  }

