
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body {
    font-size: 20px;
    font-family: Inter, NeutralFace;
    color:black;
    background: url("../images/sky1.png") no-repeat fixed center center;
    background-size:cover;
    height: 100%;

  }


  .topnav {
    overflow: hidden;
    margin-bottom: 20px;
    

  
 }


.topnav a{
   
    margin:40px;
    color:rgb(26, 56, 91);
   text-decoration: none; 
   float:left;
   transition:0.2s;
   padding: 10px;
    

  }

  .topnav a:hover{
    color:white;
    background-color: rgba(59, 131, 213, 0.693);
    border-radius: 25px;

  }

  .user-info{
    background-color: rgba(59, 131, 213,  0.845);
    text-align: left;
    padding:50px;
    margin:40px 200px 40px 200px;
    border-radius: 25px;
    
    color:white;

  }

  h2.points{
    color:rgb(26, 56, 91);
    padding: 10px;
    font-size: 2em;
  }

  .user-info h1{
    padding: 10px;
  }

  .tips{
    background-color: rgba(59, 131, 213,  0.845);
    text-align: left;
    padding:50px;
    margin:40px 200px 40px 200px;
    border-radius: 25px;
    
  }

  .form{
    background-color: rgba(39, 88, 145,  0.845);
    text-align: center;
    padding:50px;
    margin:40px 200px 40px 200px;
    border-radius: 25px;
    
  }

  fieldset{
    border:none;
 
  }

  .form h2{
    margin:20px;
    font-size: 3em;
    color:white;
  }

  .show-results{
    background-color: rgba(73, 150, 239, 0.845);
    text-align: center;
    padding:50px;
    margin:40px 200px 40px 200px;
    border-radius: 25px;
   
    

  }

  .show-results h2{
    margin:20px;
    font-size: 3em;
    color:white;
  }

  .post_results{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;

  }



  .result_container{
    margin:10px;
    padding:20px;
    overflow: break-word;
    background-color: rgba(38, 89, 136);
    border-radius: 25px;
    width:40%;
    color:white;
  }

#date{
  color:rgb(26, 56, 91);
  border:none;
  padding:20px;
  background-color: white;
  margin:10px;
}

#task{
  border: none;
  padding:20px;
}


p label{
  font-size: 1.5em;
  color:rgb(26, 56, 91);
  display: inline-block;
}

p.task{
  padding: 20px;

}

#submit_btn{
  color:rgb(26, 56, 91);
  margin:10px;
  font-size: 1em;
  background-color: white;
  border: none;
  padding:20px;
  border-radius: 15px;
  transition:0.4s;
  width:15%;
}

#submit_btn:hover{
  color:white;
  background-color: rgb(26, 56, 91);
  cursor: pointer;
}

#results_btn{
  color:rgb(26, 56, 91);
  margin:20px;
  font-size: 1em;
  background-color: white;
  border: none;
  padding:20px;
  border-radius: 15px;
  transition:0.4s;
  width:15%;
}

#results_btn:hover{
  color:white;
  background-color: rgb(26, 56, 91);
  cursor: pointer;
  
}

.contact{
  padding: 1%;
  display: flex;
  justify-content: space-around;
 
}

.footer{
  background-color: rgba(23, 72, 114, 0.64);
  height:auto;
  align-items: center;
  text-align: center;
  padding:20px;
  color:white;
}

.second-footer{
text-align: center;
background-color: rgba(255, 255, 255, 0.673);
padding:20px;
font-size: 0.5em;
}