
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body {
    font-size: 20px;
    font-family: Inter, NeutralFace;
    color:black;
    background: url("../images/sky1.png") no-repeat fixed center center;
    background-size:cover;
    height: 100%;

  }


 

    .welcome-back h2{
      font-size: 2em;
      color: blue;
      padding:30px;
  }


  .topnav {
    overflow: hidden;
    margin-bottom: 20px;
    

  
 }


.topnav a{
   
    margin:40px;
    color:rgb(26, 56, 91);
   text-decoration: none; 
   float:left;
   transition:0.2s;
   padding: 10px;
    

  }

  .topnav a:hover{
    color:white;
    background-color: rgba(59, 131, 213, 0.693);
    border-radius: 25px;

  }

 h2.green{
  font-size: 4.5em;
  margin-bottom: 40px;
  text-align: center;
  color:rgb(13, 78, 13);

 }






  .welcome-back{
    background-color: rgba(59, 131, 213, 0.693);
    text-align: center;
    padding:50px;
    margin:20px 100px 20px 100px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 6px rgba(40, 90, 148, 0.693);
    
    
  }

  .tips{
    background-color: rgba(59, 131, 213, 0.693);
    text-align: center;
    padding:50px;
    margin:20px 100px 20px 100px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 6px rgba(40, 90, 148, 0.693);
  }

  .welcome-back h1{
    font-size: 1.5em;
    color:white;
  }

  .welcome-back p{
    padding:10px;
    margin-bottom:40px;
    font-size: 1em;
    color:white;
  }

  .welcome-back a{
    background-color: white;
    margin:40px;
    padding:20px;
    text-decoration: none;
    border-radius: 25px;
    color:rgb(26, 56, 91);
    transition:0.4s;
  }

  .welcome-back a:hover{
    background-color: rgb(26, 56, 91);
    color:white;
    
  }

  .about{
    background-color: rgba(59, 131, 213, 0.693);;
    
    padding:50px;
    margin:100px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 6px rgba(40, 90, 148, 0.693);
    
  }
  .about h2{
    font-size: 50px;
    padding:20px;
    text-align: center;
    color: white;
    font-size: 3em;
    
   
  }


  .about h3{
    margin-top:50px;
    text-align: center;
    align-items: center;
    
  }

  .about a{
   
    background-color: white;
    margin:40px;
    padding:20px;
    text-decoration: none;
    border-radius: 25px;
    color:rgb(26, 56, 91);
    transition:0.4s;
  }

  .about a:hover{
    background-color: rgb(26, 56, 91);
    color:white;
  }

  .about p{
    text-align: justify;
    color:white;
  }



  .main-each{
    width:33%;
    height:400px;
    /* border-style:solid;
    border-bottom: #5C080D;
    border-top: #000000; */
   
  }

  .user-form{
    padding:50px;
    text-align: center;
    height:400px;
    background-color: #5C080D;
    

  }

  .user-form h2{
    font-size: 50px;
    color:white;
  }

  .user-form h2{
    font-size: 50px;
    padding:20px;
  }


  .quiz{
    text-align: center;
    background-color: beige;
    padding:50px;
    color:#5C080D;
  }


  .quiz h2{
    padding:20px;
    color:#5C080D;
    font-size: 50px;
  }

  .quiz h1{
    padding: 50px;
  }

  .quiz a{
    padding: 15px;;
    text-decoration: none;
    color:#5C080D;
    border-style: solid;
    border-radius: 25px;
  }

  .quiz a:hover{
    color:white;
  }


  .contact{
    padding: 1%;
    display: flex;
    justify-content: space-around;
   
  }



  .footer{
    background-color: rgba(23, 72, 114, 0.64);
    height:auto;
    align-items: center;
    text-align: center;
    padding:20px;
    color:white;
}

.second-footer{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.673);
  padding:20px;
  font-size: 0.5em;
}